<div class="container-smallCard">
  <div class="container-smallCard-content">
    <div class="small-card-photo">
      <img 
        src="https://s2-techtudo.glbimg.com/xUdMvOgAGqAAF0hUEHQuSgKXNUw=/0x0:1370x771/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2021/b/K/FjBQz6Rl2IQl0V7evYKw/arcane-final-poster-16x9-no-text-no-border.jpg" 
        alt="" 
        height="200px"
      >

    </div>
    <div class="small-card-title">
      <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
  </div>

  <div class="container-smallCard-separator">
    <hr/>
  </div>
</div>
