.container-smallCard{
  width: 700px;
  margin-bottom: 15px;
}

.container-smallCard-content{
  display: flex;
  flex-direction: row;
}

.small-card-photo > img {
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
}

.small-card-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-smallCard-separator{
  margin-top: 10px;
}